@use "../foundation/_mixin.scss" as bp;

.p-top {

}

.p-top__lead {
  position: relative;
  padding-block: 40px 24px;
  @include bp.breakpoint('tablet') {
    padding-inline: 28px;
    padding-bottom: 48px;
  }
  &::before, &::after {
    content: "";
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
    z-index: -1;
    @include bp.breakpoint('tablet') {
      height: 164px;
    }
  }
  &::before {
    background: var(--blue);
    left: 0;
    clip-path: polygon(0 0, 100% 70%, 100% 100%, 0% 100%);
  }
  &::after {
    background: var(--orange);
    left: 0;
    clip-path: polygon(0 70%, 100% 0%, 100% 100%, 0% 100%);
    z-index: -2;
  }
  &-heading {
    max-width: 560px;
    margin-inline: auto;
  }
  &-video {
    max-width: 720px;
    margin-inline: auto;
    aspect-ratio: 16 / 9;
    margin-top: 58px;
    @include bp.breakpoint('tablet') {
      margin-top: 37px;
      margin-inline: auto;
    }
    @include bp.breakpoint('sp') {
      margin-inline: 10px;
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.p-top__cta {
  position: relative;
  padding-block: 50px 48px;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/cta-bg.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    inset: 0;
    z-index: -1;
    @include bp.breakpoint('sp') {
      background-image: url(../images/cta-bg-sp.jpg);
      background-size: contain;
    }
  }
  &-heading {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 56px;
    @include bp.breakpoint('tablet') {
      font-size: 16px;
    }
  }
}

.p-top__flow {
  background: var(--skin);
  padding-block: 120px 162px;
  @include bp.breakpoint('tablet') {
    padding-block: 80px;
  }
  &-content {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 90px;
    @include bp.breakpoint('tablet') {
      grid-template-columns: 1fr;
      gap: 32px;
    }
  }
  &-card {
    background: #fff;
    border-radius: 10px;
    padding: 32px 24px;
    position: relative;
    @include bp.breakpoint('tablet') {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: 27px auto;
      border-radius: 10px;
      padding: 24px 16px 24px 0;
    }
    @include bp.breakpoint('sp') {
      align-items: center;
    }
    &:first-child, &:last-child {
      &::before {
        content: '';
        width: 24px;
        height: 28px;
        background: var(--gray);
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        clip-path: polygon(0 0, 0% 100%, 100% 50%);
        @include bp.breakpoint('tablet') {
          width: 20px;
          height: 20px;
          clip-path: polygon(0 0, 50% 100%, 100% 0%);
          top: auto;
          left: 50%;
          translate: -50% 0;
        }
      }
    }
    &:first-child {
      &::before {
        right: -60px;
        @include bp.breakpoint('tablet') {
          right: auto;
          bottom: -30px;
        }
      }
    }
    &:last-child {
      &::before {
        left: -50px;
        @include bp.breakpoint('tablet') {
          left: 50%;
          top: -26px;
        }
      }
    }
  }
  &-card-img {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    @include bp.breakpoint('sp') {
      width: 120px;
    }
  }
  &-card-tag {
    width: 180px;
    margin-inline: auto;
    margin-top: 24px;
    padding-block: 3px;
    background: var(--blue);
    border-radius: 16px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    @include bp.breakpoint('tablet') {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin-top: 0;
      margin-inline: 0;
      width: 142px;
      font-size: 14px;
    }
    .num {
      font-size: 20px;
      font-weight: 700;
      @include bp.breakpoint('tablet') {
        font-size: 16px;
      }
    }
  }
  &-card-text {
    max-width: 240px;
    margin-top: 16px;
    @include bp.breakpoint('tablet') {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      max-width: unset;
    }
  }
}

.p-top__video {
  padding: 120px 110px;
  @include bp.breakpoint('tablet') {
    padding: 80px 0;
  }
  &-inner {
    margin-top: 80px;
  }
  &-stack {
    > * + * {
      margin-top: 40px;
    }
  }
  &-card {
    display: grid;
    grid-template-columns: 52.7% auto;
    gap: 40px;
    align-items: center;
    padding: 32px 80px;
    background: #fff;
    border-radius: 10px;
    filter: drop-shadow(0 0 20px var(--gray));
    @media (max-width: 1180px) {
      padding-inline: 40px;
      gap: 20px;
    }
    @include bp.breakpoint('tablet') {
      grid-template-columns: 1fr;
      gap: 0px;
      padding: 0;
    }
  }
  &-img {
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
    @include bp.breakpoint('tablet') {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:hover {
      filter: brightness(1.3);
    }
  }
  &-text {
    > * + * {
      margin-top: 16px;
    }
    @include bp.breakpoint('tablet') {
      padding: 24px 20px 30px;
    }
  }
  &-text-heading {
    color: var(--orange);
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    span {
      font-weight: 700;
      font-size: 16px;
    }
  }
  &-link {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 16px 40px;
    color: var(--orange);
    border: 1px solid var(--orange);
    border-radius: 30px;
    font-weight: 800;
    @media (max-width: 1180px) {
      padding-inline: 24px;
    }
  }

  &-desc {
    margin-top: 80px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    @include bp.breakpoint('tablet') {
      font-size: 16px;
      text-align: left;
    }
    span {
      font-size: 24px;
      font-weight: 700;
      background: linear-gradient(transparent 70%, rgba(254, 193, 47, 0.7) 30%);
      @include bp.breakpoint('tablet') {
        font-size: 18px;
      }
    }
  }
}

.p-top__about {
  padding-top: 120px;
  background: var(--skin);
  position: relative;
  @include bp.breakpoint('tablet') {
    padding-top: 80px;
  }
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 192px;
    background: #fff;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    clip-path: polygon(0% 0%, 50% 100%, 100% 0, 100% 100%, 0 100%);
    @include bp.breakpoint('tablet') {
      height: 88px;
    }
  }
  &-inner {
    max-width: 1180px;
    padding-inline: 20px;
    margin-inline: auto;
    @include bp.breakpoint('tablet') {
      padding-bottom: 30px;
    }
  }
  &-desc {
    max-width: 800px;
    margin-inline: auto;
    margin-top: 80px;
    @include bp.breakpoint('tablet') {
      margin-top: 40px;
    }
  }
  &-img-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 40px;
    @include bp.breakpoint('tablet') {
      gap: 1px;
    }
  }
  &-img {
    border-radius: 8px;
    overflow: hidden;
    @include bp.breakpoint('tablet') {
      border-radius: 4px;
    }
  }
  &-content {
    position: relative;
    margin-top: 80px;
    padding-block: 120px 166px;
    @include bp.breakpoint('tablet') {
      margin-top: 93px;
      padding-block: 40px 120px;
      padding-inline: 16px;
    }
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url(../images/about-bg.png);
      background-position: center;
      background-repeat: no-repeat;
      @include bp.breakpoint('sp') {
        background-image: url(../images/about-bg-sp.png);
        background-size: cover;
      }
    }
  }
  &-content-inner {
    position: relative;
    z-index: 1;
    max-width: 800px;
    margin-inline: auto;
  }
  &-content-fig {
    margin-top: 80px;
    @include bp.breakpoint('tablet') {
      margin-top: 40px;
    }
  }
  &-content-desc {
    margin-top: 40px;
  }
  &-arrow {
    position: absolute;
    left: 50%;
    translate: -50% 0;
    bottom: 40px;
    @include bp.breakpoint('tablet') {
      width: 30px;
    }
  }
}

.p-top__chance {
  &-heading {
    width: 555px;
    margin-inline: auto;
    @include bp.breakpoint('tablet') {
      width: 400px;
    }
    @include bp.breakpoint('sp') {
      width: 328px;
    }
  }
  &-slider {
    margin-top: 90px;
    @include bp.breakpoint('tablet') {
      margin-top: 40px;
    }
  }
  &-img {
    border-radius: 8px;
    overflow: hidden;
  }
  .swiper-wrapper {
    transition-timing-function: linear;
  }
}

.p-top__point {
  padding-block: 120px;
  @include bp.breakpoint('tablet') {
    padding-block: 80px;
  }
  &-slider {
    margin-top: 80px;
    @include bp.breakpoint('tablet') {
      margin-top: 40px;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 62px;
    height: 62px;
    @include bp.breakpoint('tablet') {
      width: 32px;
      height: 32px;
    }
    &::after {
      display: none;
    }
  }
  .swiper-button-prev {
    left: 29%;
    @include bp.breakpoint('tablet') {
      left: 8px;
    }
  }
  .swiper-button-next {
    right: 29%;
    @include bp.breakpoint('tablet') {
      right: 8px;
    }
  }
  .swiper-pagination {
    position: static;
    margin-top: 80px;
    @include bp.breakpoint('tablet') {
      margin-top: 43px;
    }
    .swiper-pagination-bullet {
      background: var(--gray);
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background: var(--blue);
    }
  }
}

.p-top__message {
  padding-block: 120px;
  position: relative;
  @include bp.breakpoint('tablet') {
    padding-block: 80px;
  }
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background: url(../images/message-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    inset: 0;
    z-index: -1;
  }
  &-inner {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: 20px;
    margin-top: 80px;
    @include bp.breakpoint('tablet') {
      margin-top: 40px;
    }
  }
  &-card {
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 50px;
    padding: 80px;
    background: #fff;
    border-radius: 10px;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
    @include bp.breakpoint('tablet') {
      grid-template-columns: 1fr;
      padding: 32px 18px;
      gap: 8px;
    }
  }
  &-name {
    margin-top: 24px;
    text-align: right;
    @include bp.breakpoint('tablet') {
      margin-top: 8px;
    }
    span {
      font-size: 20px;
      font-weight: 600;
      margin-left: 16px;
    }
  }
  &-img {
    border-radius: 10px;
    overflow: hidden;
  }
}

.p-top__faq {
  padding-block: 120px;
  @include bp.breakpoint('tablet') {
    padding-top: 80px;
  }
  &-content {
    max-width: 840px;
    margin-inline: auto;
    margin-top: 80px;
    > * + * {
      margin-top: 40px;
      @include bp.breakpoint('tablet') {
        margin-top: 20px;
      }
    }
  }
  &-details {
    padding-bottom: 40px;
    border-bottom: 1px solid var(--gray);
    @include bp.breakpoint('tablet') {
      padding-bottom: 20px;
    }
    &[open] {
      .p-top__faq-arrow {
        rotate: 225deg;
      }
    }
  }
  &-summary {
    display: grid;
    grid-template-columns: 32px 1fr 8px;
    gap: 7px;
    font-weight: 500;
  }
  &-summary-icon {
    background: rgba(12, 48, 115, 0.7);
    height: 32px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-top: -4px;
    @include bp.breakpoint('tablet') {
      margin-top: -2px;
    }
  }
  &-arrow {
    width: 8px;
    height: 8px;
    border-top: 1px solid rgba(12, 48, 115, 0.7);
    border-left: 1px solid rgba(12, 48, 115, 0.7);
    rotate: 45deg;
    align-self: center;
    transition: rotate 0.3s;
  }
  &-answer {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 32px 1fr;
    gap: 7px;
  }
  &-answer-icon {
    background: rgba(248, 69, 25, 0.7);
    height: 32px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
}

.p-top__cta-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include bp.breakpoint('tablet') {
    grid-template-columns: 1fr;
  }
  &-body {
    position: relative;
    padding-block: 57px 48px;
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-image: url(../images/cta-bottom-reservation.jpg);
      // background-size: cover;
      background-position: center;
      position: absolute;
      inset: 0;
      z-index: -1;
    }
    &.-line {
      &::before {
        background-image: url(../images/cta-bottom-line.jpg);
      }
      .c-btn__cta {
        position: relative;
        color: #06C755;
        .illust {
          width: 100px;
          position: absolute;
          top: -50px;
          left: 10px;
          @include bp.breakpoint('tablet') {
            width: 80px;
            top: -27px;
            left: -6px;
          }
        }
      }
    }
  }
}